---
import { CollectionEntry, getCollection } from 'astro:content';
import Layout from '../../layouts/BlogPost.astro';
import getPostData from '../../utils/getPostData';


export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await post.render();

const {readingTime} = getPostData(post.body)

---

<Layout title={post.data.title}
description={post.data.description}
pubDate={post.data.pubDate}
heroImage={post.data.heroImage}
updatedDate={post.data.updatedDate}
readingTime={readingTime}

>

	<!-- <h1>{post.data.title}</h1> -->
	<Content />
</Layout>
